<a href="https://colab.research.google.com/github/Fenixkriss/Coursera_Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Segmenting and Clustering Neighborhoods in Toronto. Final Assignment
# Part 1 & 2 & 3

## Part 1. Scrape data from Wiki page and create a Dataframe with Postal Codes of Canada.

Import Libraries

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Scrap Table with List of postal codes of Canada using BeautifulSoup

In [0]:
# download url data from internet
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

Convert content to Dataframe

In [3]:
# creat a new Dataframe
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

#loop through to find postcode, borough, neighborhood 
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text.strip('\n')
            i = i + 1
        elif i == 1:
            borough = td.text.strip('\n')
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.shape

(103, 3)

## Cleaning the Data 
Drop "None" rows in DataFrame

Drop any row which contains 'Not assigned' value

Replace all "Not assigned" to 'NaN'

In [0]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [5]:
df.head(7)

  Postalcode      Borough                                 Neighborhood
0        M1B  Scarborough                               Malvern, Rouge
1        M1C  Scarborough       Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough            Guildwood, Morningside, West Hill
3        M1G  Scarborough                                       Woburn
4        M1H  Scarborough                                    Cedarbrae
5        M1J  Scarborough                          Scarborough Village
6        M1K  Scarborough  Kennedy Park, Ionview, East Birchmount Park

In [0]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [7]:
print(df2.shape)
df2.head(7)

(103, 3)

  Postalcode      Borough                                 Neighborhood
0        M1B  Scarborough                               Malvern, Rouge
1        M1C  Scarborough       Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough            Guildwood, Morningside, West Hill
3        M1G  Scarborough                                       Woburn
4        M1H  Scarborough                                    Cedarbrae
5        M1J  Scarborough                          Scarborough Village
6        M1K  Scarborough  Kennedy Park, Ionview, East Birchmount Park

## Part 2. Supplementing data frame with coordinates

Import Geocoder

In [8]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 2.9MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [0]:
import geocoder

In [0]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [11]:
# testing    
get_latlng('M6Z')

[43.648690000000045, -79.38543999999996]

Its works well. But for the sake of similarity, I will use geospatial data supply by course.

In [12]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')
geo_df.head(7)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029

In [0]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(geo_df, df2, on='Postalcode')

In [14]:
df3=geo_merged[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
df3.head(7)

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
5        M1J  Scarborough  ...  43.744734 -79.239476
6        M1K  Scarborough  ...  43.727929 -79.262029

[7 rows x 5 columns]

## Part 3. Explore and cluster the neighborhoods in Toronto.

Select to work only with Toronto

In [15]:
toronto_data=df3[df3['Borough'].str.contains("Toronto")]
toronto_data.head()

   Postalcode          Borough  ...   Latitude  Longitude
37        M4E     East Toronto  ...  43.676357 -79.293031
41        M4K     East Toronto  ...  43.679557 -79.352188
42        M4L     East Toronto  ...  43.668999 -79.315572
43        M4M     East Toronto  ...  43.659526 -79.340923
44        M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]